:host {
  width: 100%;
}

.contact {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80px;
  padding: 10px;
  border-bottom: 1px solid #eee;

  &__avatar {
    min-width: 60px;
    height: 100%;
    margin-right: 10px;
    background-color: #eee;
    border-radius: 50%;
    font-size: 25px;
    color: #aaa;
    line-height: 60px;
    text-align: center;
  }

  &__info {
    display: flex;
    width: calc(100% - 60px);
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
  }

  &__details {
    margin-right: 10px;
    max-width: calc(100% - 25px);

    .first-name,
    .surname,
    .email {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
